<!DOCTYPE html>
<html lang='en' xmln='http//www.thymeleaf.org' xmlns:th='http://www.w3.org/1999/xhtml'>
<head>
    <meta charset='UTF-8'>
    <title>Earthquake Infomation Management</title>
</head>
<body>
    <table>
        <h1>EARTHQUAKE INFO</h1>
        <tr>
            <th>id</th>
            <th>time</th>
            <th>lat</th>
            <th>lon</th>
            <th>deep</th>
            <th>level</th>
            <th>position</th>
        </tr>
        <tr th:each='info : ${infoList}'>
            <td th:text='${info.id}'></td>
            <td th:text='${info.time}'></td>
            <td th:text='${info.lat}'></td>
            <td th:text='${info.lon}'></td>
            <td th:text='${info.deep}'></td>
            <td th:text='${info.level}'></td>
            <td th:text='${info.position}'></td>
        </tr>
    </table>

    <center>
        <h3>上传单个文件</h3>
        <form action='/add-from-file' enctype='multipart/form-data' method='post'>
            <input type='file' name='file' required>
            <input type='submit' value='上传单个文件'>
        </form>
        <h3>删除所有信息</h3>
        <form action='/clear' method='post'>
            <input type='hidden' name='_method' value='delete'>
	        <input type='submit' value='删除'>
        </form>
    </center>
</body>
</html>